<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>

  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let item of items">
      {{ item }}
    </ion-item>
  </ion-list>
</ion-header>


<ion-content padding>
   
  

  <ul>
    <li *ngFor="let result of results">{{result.title}} {{result.author}} {{result.date}} {{result.image}}</li>
  </ul>
  <h2>Result</h2>
  <br><br>
  <h3 id='noresult' >No Result</h3>
  <ion-list>
      <ion-item *ngFor="let result of results">
        <ion-thumbnail item-start>
          <img src="http://via.placeholder.com/200x200">
        </ion-thumbnail>
        <h2>{{result.title}}</h2>
        <p>{{result.date}}</p>
        <button ion-button clear item-end >></button>
      </ion-item>
    </ion-list>
</ion-content>
