<ion-header>
  <ion-navbar>
    <ion-title>
      APP
    </ion-title>
  </ion-navbar>

  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>

</ion-header>


<ion-content padding>

  <h1>Result</h1>
  <ion-list>
    <ion-item *ngFor="let item of results">
      <ion-thumbnail item-start>
        <img [src]="item.image">
      </ion-thumbnail>
      <h2>{{item.title}}</h2>
      <p>{{item.date}}</p>
      <button ion-button clear item-end [navPush]="detailspage" [navParams]="item">
        <p style="font-size: 30px;">></p>
        <!--g fleche dégueu -->
      </button>
    </ion-item>
  </ion-list>


  <h6 *ngIf="results.length === 0">No Result</h6>

</ion-content>
